# my file
xdnapretrain/stats/
torch_v/
xdnapretrain/train_vae
xdnapretrain/save
xdnapretrain/train_xdnamodel/save
xdnapretrain/train_xdnamodel/stats
vit/
*.hdf5
*.npz
*.gtf
*.pth
*.fa
*.bed
*.fai
*.pt
*.txt
*.csv
*.fasta
*.h5
*.meme
*.chen
*.pkl
*.html
*.tsv
*.xml
*.out
*.yaml
*.xlsx
*.utrs
*.genome
*.tfr

